/* Navbar.css */

/* Styling for the Navbar */
.kh {
    background-color: rgba(22, 48, 48, 0.336); /* Transparent black background */
  }
  
  /* Styling for the logo */
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Styling for the navigation buttons */
  .nav-button {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Styling for the user avatar */
  .user-avatar {
    padding: 0;
  }
  
  /* Styling for the user menu */
  .user-menu {
    margin-top: 8px;
  }
  
  /* Styling for the menu items in the user menu */
  .menu-item {
    text-align: center;
    color: black;
  }
  
  /* Styling for the menu item text */
  .menu-item-text {
    color: black;
  }
  