.gradient-custom {
    /* fallback for old browsers */
    background: #c7c6c2;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(165, 156, 126), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(172, 161, 125), rgb(170, 147, 141))
  }
 .ezdin {
margin-top: 100px;
  }
  