/* SignUp.css */
.signup-container {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .signup-btn {
    width: 100%;
    padding: 10px;
    background-color: #444647;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #8a8d91;
  }
  
  .google-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
 
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
  .signin-link {
    display: block;
    margin-top: 10px;
    margin-right: 800px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
 
  }
  
  .signin-link:hover {
    color: #bbb;
  }
  