/* SignUp.css */
.min-h-screen {
  /* Set the background image */
background-color: rgb(252, 252, 252);
  /* Set background size to cover the entire screen */
  background-size: cover;
  /* Center the background image */
  background-position: center;
  /* Make sure content stays in front of the background image */
  position: relative;
}
.signup-container {
  width: 50%;
    background-color: #817e7e;
    padding: 30px;
    border-color: rgb(5, 5, 5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: -50px;
    margin-left: 350px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .signup-btn {
    width: 100%;
    padding: 10px;
    background-color: #444647;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #8a8d91;
  }
  
  .google-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
 
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
  .signin-link {
    display: block;
    margin-top: 35px;
    margin-right: 80px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
    width: 100%;
 
  }
  
  .signin-link:hover {
    color: #bbb;
  }
  