/* Apply styles to the AboutUs component */
.about {
    position: relative;
    background-color:white;
    color: black;
    padding: 5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Center content vertically */
  }
  
  .coach_image {
    width: 40%; /* Adjust the width for responsiveness */
    margin: auto; /* Center the coach image horizontally */
    transition: transform 0.3s; /* Apply transition to the transform property */
    animation: floatAnimation 3s infinite alternate; /* Apply animation for floating effect */
    border-radius: 40px;
  }
  
  .coach_image img {
    width: 100%; /* Make the image fill its container */
    border-radius: 40px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  }
  
  .coach_image:hover {
    transform: scale(1.1) translateY(-10px);
    border-radius: 40px; /* Scale and move the image on hover */
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .coach-paragraph {
    flex: 1 1 50%;
    max-width: 800px;
    margin-left: 2rem; /* Adjust the spacing between the paragraph and the image */
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .content {
    max-width: 800px;
    margin: auto;
  }
  
  .title {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #f9ac54;
  }
  
  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .box {
    flex: 1 1 calc(50% - 2rem);
    background-color: var(--primary-color-light);
    padding: 2rem;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Apply transition for smooth movement */
  }
  
  .box:hover {
    transform: translateY(-5px); /* Move the box 5 pixels up on hover */
  }
  
  .box h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
  }
  
  .box p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color:black;
  }
  
  
  .btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    color:violet;
    background-color: var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: var(--secondary-color-dark);
  }
  .p{
    color: #f9ac54;
  }